@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.App {
  background-color: #111411;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chatframe {
  height: 515px;
  width: 571px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 20px 1px hsl(0deg 0% 0% / 78%);
  background-color: hsl(0deg 0% 24% / 90%);
}

::-webkit-scrollbar {
  width: 0.2em;
  background-color: #f5f5f5;
}

.chatbox {
  height: 460px;
  width: 567px;
  border-radius: 11px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* box-shadow: 3px 3px #f7fff9; */
  overflow-x: hidden;
}

.form {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 10px;
  gap: 8px;
  width: 100%;
  margin-left: 15px;
}

.chatinput {
  height: 40px;
  width: 74.5%;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: #f6ffea;
  font-family: "Space Mono", monospace;
}

.chatinput:focus {
  outline: none;
  border: none;
  font-family: "Space Mono", monospace;
}

.chatbutton {
  height: 40px;
  width: 45px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.chatbutton[type="submit"] {
  background-color: hsla(120, 100%, 60%, 0.781);
}

.chatbutton[type="submit"]:hover {
  background-color: hsla(120, 85%, 43%, 0.9);
}

.chatbutton[type="button"] {
  background-color: hsla(0, 80%, 64%, 0.945);
}

.chatbutton[type="button"]:hover {
  background-color: hsla(0, 80%, 64%, 0.8);
}

.chatlog {
  height: auto;
  width: auto;
  /* flex-direction: column; */
  overflow-x: hidden;

  padding: 20px 35px 20px 20px;
  overflow-y: scroll;
  text-align: left;
}

.chatlog::-webkit-scrollbar {
  display: none;
}
.chatbox::-webkit-scrollbar {
  display: none;
}

.chatmessage {
  display: flex;
  color: white;
  /* padding: 5px; */
  align-items: flex-start;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  padding-bottom: 7px;
  padding-top: 5px;
  padding-left: 10px;
  line-height: 1.3rem;
  gap: 5px;
}

.msgIcon {
  background-color: #a8d79b;
  border-radius: 50%;
  min-width: 30px;
  height: 30px;
}

.msgIcon.proStat {
  background-color: #aecfd9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.msgText {
  padding: 6px;
  padding-left: 13px;
  padding-right: 11px;
  display: flex;
  overflow-wrap: anywhere;
}

.msgText.proStat {
  padding: 6px;
  padding-left: 13px;
  padding-right: 11px;
  display: flex;
  overflow-wrap: anywhere;
  color: rgb(51, 204, 31);
}

.prompt {
}

.text {
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c2c9d6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
